Task 3: Building a database of summary tables from the Wedge transaction data.

In [1]:
import sqlite3
import os
import re
import datetime 
from zipfile import ZipFile
import pandas as pd
import numpy as np
import pandas_gbq
import janitor
import shutil
import glob
from google.cloud import bigquery
from google.oauth2 import service_account

In [2]:
# Building the private key.
service_path = "C:\\Users\\rsmcd\\OneDrive\\Desktop\\MSBA Fall 2022\\" # Path to json file.
service_file = 'reese-msba-9558fdd20984.json' # Name of json file.
gbq_proj_id = 'reese-msba' # Name of project.

# Creates single variable that leads to json file.
private_key =service_path + service_file

In [3]:
# Now we pass in our credentials so that Python has permission to access our project.
credentials = service_account.Credentials.from_service_account_file(service_path + service_file)

In [4]:
# And finally we establish our connection.
client = bigquery.Client(credentials = credentials, project=gbq_proj_id)

In [5]:
# Look at list of data sets in client.
for item in client.list_datasets() : 
    print(item.full_dataset_id)

reese-msba:dram_shop
reese-msba:wedge_transactions

The following few cells access the Wedge data in GBQ to build the tables that will be used to build the dataframe.

In [6]:
# Builds a table with date, hour, total spend, number of transactions, and number of items.
query = """
SELECT EXTRACT(DATE FROM datetime) AS date
, EXTRACT(HOUR FROM datetime) AS hour
, ROUND(SUM(total), 2) AS spend 
, COUNT(DISTINCT CONCAT(CAST(EXTRACT(DATE FROM datetime) AS STRING), CAST(register_no AS STRING), CAST(emp_no AS STRING), CAST(trans_no AS STRING))) AS trans
, SUM(CASE trans_status WHEN "V" THEN -1 WHEN "R" THEN -1 ELSE 1 END) AS items
FROM `reese-msba.wedge_transactions.transArchive*` 
WHERE (department != 0
AND department != 15)
AND (trans_status IS NULL
OR trans_status = "V"
OR trans_status = "R"
OR trans_status = '')
GROUP BY date, hour
ORDER BY date DESC, hour DESC
"""

date_hour_spend = pandas_gbq.read_gbq(query,project_id = gbq_proj_id)

Downloading: 100%|██████████████████████████████████████████████████████████| 32562/32562 [00:02<00:00, 13555.87rows/s]

In [7]:
date_hour_spend

             date  hour      spend  trans  items
0      2017-01-31    22     518.25      1    165
1      2017-01-31    21   43655.85    115  12495
2      2017-01-31    20   69527.40    160  18540
3      2017-01-31    19   80792.40    208  20670
4      2017-01-31    18  104887.80    255  25695
...           ...   ...        ...    ...    ...
32557  2010-01-01    13    4654.52    154   1365
32558  2010-01-01    12    3886.51    124   1143
32559  2010-01-01    11    4001.66    118   1108
32560  2010-01-01    10    3128.55     82    913
32561  2010-01-01     9    1006.28     36    245

[32562 rows x 5 columns]

In [8]:
# Builds a table with card_no, year, month, sales, number of transactions, and number of items.
query = """
SELECT card_no
, EXTRACT(YEAR FROM datetime) AS year
, EXTRACT(MONTH FROM datetime) AS month
, ROUND(SUM(total), 2) AS sales 
, COUNT(DISTINCT CONCAT(CAST(EXTRACT(DATE FROM datetime) AS STRING), CAST(register_no AS STRING), CAST(emp_no AS STRING), CAST(trans_no AS STRING))) AS trans
, SUM(CASE trans_status WHEN "V" THEN -1 WHEN "R" THEN -1 ELSE 1 END) AS items
FROM `reese-msba.wedge_transactions.transArchive*` 
WHERE (department != 0
AND department != 15)
AND (trans_status IS NULL
OR trans_status = "V"
OR trans_status = "R"
OR trans_status = '')
GROUP BY card_no, year, month 
ORDER BY year DESC, month DESC
"""

owner_spend = pandas_gbq.read_gbq(query,project_id = gbq_proj_id)

Downloading: 100%|████████████████████████████████████████████████████████| 676786/676786 [00:31<00:00, 21771.27rows/s]

In [9]:
owner_spend

        card_no  year  month       sales  trans    items
0           3.0  2017      1  7034269.95  25029  1816980
1       15630.0  2017      1      802.95      2      240
2       18343.0  2017      1      584.70      2      195
3       49678.0  2017      1     1640.25      9      465
4       16743.0  2017      1     7021.05     18     2070
...         ...   ...    ...         ...    ...      ...
676781  12390.0  2010      1       21.52      1        4
676782  15050.0  2010      1       31.29      1        5
676783  21184.0  2010      1       17.94      1        3
676784  15475.0  2010      1        9.97      1        3
676785  50120.0  2010      1       11.94      1        1

[676786 rows x 6 columns]

In [10]:
# Builds a table with upc, description, department number, department name, year, month, sales, transactions, and items.
query = """
SELECT rmsba.upc
, rmsba.description
, rmsba.department
, umsba.dept_name
, EXTRACT(YEAR FROM rmsba.datetime) AS year
, EXTRACT(MONTH FROM rmsba.datetime) AS month
, ROUND(SUM(rmsba.total), 2) AS sales 
, COUNT(DISTINCT CONCAT(CAST(EXTRACT(DATE FROM datetime) AS STRING), CAST(rmsba.register_no AS STRING), CAST(rmsba.emp_no AS STRING), CAST(rmsba.trans_no AS STRING))) AS trans
, SUM(CASE rmsba.trans_status WHEN "V" THEN -1 WHEN "R" THEN -1 ELSE 1 END) AS items
FROM `reese-msba.wedge_transactions.transArchive*` as rmsba
INNER JOIN `umt-msba.wedge_transactions.department_lookup` as umsba
ON rmsba.department = umsba.department
WHERE (rmsba.department != 0
AND rmsba.department != 15)
AND (rmsba.trans_status IS NULL
OR rmsba.trans_status = "V"
OR rmsba.trans_status = "R"
OR rmsba.trans_status = '')
GROUP BY rmsba.upc, rmsba.description, rmsba.department, dept_name, year, month
ORDER BY year DESC, month DESC
"""

dept_spend = pandas_gbq.read_gbq(query,project_id = gbq_proj_id)

Downloading: 100%|██████████████████████████████████████████████████████| 1001232/1001232 [01:21<00:00, 12245.71rows/s]

In [11]:
dept_spend

,upc,description,department,dept_name,year,month,sales,trans,items
0,0081135500254,O.Sharp Cheddar 8oz Rumiano,5.0,CHEESE,2017,1,2710.35,42,615
1,0085514000215,Pumpkin Fig Granola 12oz PuE,1.0,PACKAGED GROCERY,2017,1,2504.70,22,330
2,0086547300020,O.Sprouted Flax 16oz PV,10.0,SUPPLEMENTS,2017,1,1274.25,5,75
3,0080500200072,Dusk Aftershave Balm 3.4oz Her,11.0,PERSONAL CARE,2017,1,134.85,1,15
4,1.99DP11,PERSONAL CARE,11.0,PERSONAL CARE,2017,1,119.40,4,60
...,...,...,...,...,...,...,...,...,...
1001227,0003000021705,Pnut Bumpers Cereal 14oz Mot,1.0,PACKAGED GROCERY,2010,1,159.60,37,40
1001228,0004156514116,Chunky Salsa Med 16oz Pace,1.0,PACKAGED GROCERY,2010,1,50.26,13,14
1001229,0007337791793,Blue Aloe-Infused Socks,9.0,GEN MERCH,2010,1,59.94,5,6
1001230,0063408448023,O.Headache Sooth.Balm 1oz Badg,11.0,PERSONAL CARE,2010,1,16.47,3,3
1001231,0000000017511,COFFEE Guatemalan Dark/Peace,3.0,BULK,2010,1,1012.85,119,122

The next cell exports the tables to csv.

In [12]:
date_hour_spend.to_csv("date_hour_spend.csv", index=False, sep ='\t')
owner_spend.to_csv("owner_spend.csv", index=False, sep ='\t')
dept_spend.to_csv("dept_spend.csv", index=False, sep ='\t')

This cell creates the data base into which the tables will be read.

In [13]:
# Create connection
conn = sqlite3.connect('wedge_summary.db')

# Create cursor
curs = conn.cursor()

# Drop table if they exist to start fresh
curs.execute("DROP TABLE IF EXISTS date_hour_spend")
curs.execute("DROP TABLE IF EXISTS owner_spend")
curs.execute("DROP TABLE IF EXISTS dept_spend")

The next cell creates tables in the database that correspond in name and data type to the csv files that will be read in.

In [14]:
curs.execute("""CREATE TABLE date_hour_spend(
            date text,
            hour integer,
            spend numeric,
            trans integer,
            items integer
)""")
curs.execute("""CREATE TABLE owner_spend(
            card_no text,
            year integer,
            month integer,
            sales numeric,
            trans integer,
            items integer
)""")
curs.execute("""CREATE TABLE dept_spend(
            upc text,
            description text,
            department text,
            dept_name text,
            year integer,
            month integer,
            sales numeric,
            trans integer,
            items integer
)""")

Next we prepare the csv data to be inserted into the database tables.

In [15]:
date_hour = []

with open("date_hour_spend.csv",'r') as infile : 
    next(infile)
 
    for line in infile :
        line = line.strip().split("\t")
        date_hour.append(line)

owner = []        
        
with open("owner_spend.csv",'r') as infile : 
    next(infile)
 
    for line in infile :
        line = line.strip().split("\t")
        owner.append(line)
        
dept = []        
        
with open("dept_spend.csv",'r') as infile : 
    next(infile)
 
    for line in infile :
        line = line.strip().split("\t")
        dept.append(line)

The next three cells insert the data into the database tables.

In [16]:
curs.executemany('''INSERT INTO date_hour_spend (date, hour, spend, trans, items) 
                   VALUES(?,?,?,?,?)''', date_hour)
conn.commit()

In [17]:
curs.executemany('''INSERT INTO owner_spend (card_no, year, month, sales, trans, items) 
                   VALUES (?,?,?,?,?,?)''', owner)
conn.commit()

In [18]:
curs.executemany('''INSERT INTO dept_spend (upc, description, department, dept_name, year, month, sales, trans, items) 
                   VALUES (?,?,?,?,?,?,?,?,?)''', dept)
conn.commit()

These last few cells query the database to make sure that everything is in working order, and then we close the database connection.

In [19]:
curs.execute("""SELECT *
            FROM date_hour_spend
            LIMIT 10""")

print(curs.fetchall())

[('2017-01-31', 22, 518.25, 1, 165), ('2017-01-31', 21, 43655.85, 115, 12495), ('2017-01-31', 20, 69527.4, 160, 18540), ('2017-01-31', 19, 80792.4, 208, 20670), ('2017-01-31', 18, 104887.8, 255, 25695), ('2017-01-31', 17, 89824.65, 245, 23100), ('2017-01-31', 16, 86167.05, 199, 21645), ('2017-01-31', 15, 87650.25, 207, 21900), ('2017-01-31', 14, 83348.25, 185, 21240), ('2017-01-31', 13, 80836.95, 214, 20910)]

In [20]:
curs.execute("""SELECT *
            FROM owner_spend
            LIMIT 10""")

print(curs.fetchall())

[('3.0', 2017, 1, 7034269.95, 25029, 1816980), ('15630.0', 2017, 1, 802.95, 2, 240), ('18343.0', 2017, 1, 584.7, 2, 195), ('49678.0', 2017, 1, 1640.25, 9, 465), ('16743.0', 2017, 1, 7021.05, 18, 2070), ('66136.0', 2017, 1, 8674.35, 4, 780), ('12539.0', 2017, 1, 875031.75, 2321, 227535), ('13511.0', 2017, 1, 4924.5, 3, 1155), ('10557.0', 2017, 1, 5109.75, 17, 1410), ('10576.0', 2017, 1, 8073.45, 36, 2415)]

In [21]:
curs.execute("""SELECT *
            FROM dept_spend
            LIMIT 10""")

print(curs.fetchall())

[('0081135500254', 'O.Sharp Cheddar 8oz Rumiano', '5.0', 'CHEESE', 2017, 1, 2710.35, 42, 615), ('0085514000215', 'Pumpkin Fig Granola 12oz PuE', '1.0', 'PACKAGED GROCERY', 2017, 1, 2504.7, 22, 330), ('0086547300020', 'O.Sprouted Flax 16oz PV', '10.0', 'SUPPLEMENTS', 2017, 1, 1274.25, 5, 75), ('0080500200072', 'Dusk Aftershave Balm 3.4oz Her', '11.0', 'PERSONAL CARE', 2017, 1, 134.85, 1, 15), ('1.99DP11', 'PERSONAL CARE', '11.0', 'PERSONAL CARE', 2017, 1, 119.4, 4, 60), ('0000000013509', 'NUTS Almonds Smokies Barsy', '3.0', 'BULK', 2017, 1, 6074.55, 55, 765), ('0000000018335', 'RICE Brown Sweet Organic', '3.0', 'BULK', 2017, 1, 2459.1, 30, 420), ('0000000019346', 'Rosehips Organic', '12.0', 'HERBS&SPICES', 2017, 1, 1020.45, 16, 255), ('0002100989262', 'Sushi Vinegar 10oz Mit', '1.0', 'PACKAGED GROCERY', 2017, 1, 332.1, 6, 90), ('0002392333035', 'O.Swt.Pot.Beet Pouch 3.5oz EB', '1.0', 'PACKAGED GROCERY', 2017, 1, 508.35, 15, 330)]

In [22]:
# Close connection to database
conn.close()